.title-player-screen {
  margin-top: 5%;
}

td,
th {
  text-align: center;
}

.no-player-td {
  text-align: left;
  font-size: 1.5rem;
}

.btns-header {
  display: flex;
  justify-content: flex-end;
}
