<app-breadcumb [breadcumb]="breadCumb">
</app-breadcumb>
<div class="container">
  <h1 class="text-left title-player-screen">ABM Jugador</h1>
  <div *ngIf="!isLoading else loading">
    <div class="btns-header">
      <button class="btn btn-primary" (click)="onAddPlayer()">+ Jugador</button>
    </div>
    <div class=" row-table row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Apodo</th>
            <th scope="col">Posición</th>
            <th scope="col">Más detalles</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody *ngIf="(players && players.length > 0) else noPlayerData">
          <tr *ngFor="let player of players">
            <td>{{player.name}}</td>
            <td>{{player.surname}}</td>
            <td>{{player.nickName}}</td>
            <td>{{player.position}}</td>
            <td class="td-button"><button class="btn btn-link" (click)="onMoreDetails(player._id)">Ver más</button>
            </td>
            <td class="td-button"><button class="btn" (click)="onDeletePlayer(player._id)">
                <fa-icon [icon]="trashIcon"></fa-icon>
              </button></td>
            <td><button (click)="onEditPlayer(player._id)"></button></td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



<ng-template #loading>
  <div class="spinner-border text-danger" role="status">
  </div>
</ng-template>

<ng-template #noPlayerData>
  <tbody>
    <tr>
      <td class="no-player-td" colspan="5">No existen jugadores aún</td>
    </tr>
  </tbody>
</ng-template>
