<div class="modal-header">
  <h2 class="modal-title">Nuevo jugador</h2>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="formData">
    <h3>Información del Jugador</h3>
    <div class="form-group row">
      <label for="name" class="col-sm-1 col-form-label">Nombre</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" formControlName="name">
      </div>
      <label for="surname" class="col-sm-1 col-form-label">Apellido</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" formControlName="surname">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-1 col-form-label">Apodo</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" formControlName="nickName">
      </div>
      <label class="col-sm-1 col-form-label">Posición</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" formControlName="position">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-1 col-form-label">Edad</label>
      <div class="col-sm-5">
        <input type="number" class="form-control" formControlName="age">
      </div>
      <label class="col-sm-1 col-form-label">País</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" formControlName="country">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Valor del mercado</label>
      <div class="col-sm-3">
        <input type="number" class="form-control" formControlName="value">
      </div>
    </div>
    <h3>Información del Equipo</h3>
    <div class="form-group row" formGroupName="team">
      <label class="col-sm-1 col-form-label">Nombre</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" formControlName="name">
      </div>
      <label for="position" class="col-sm-1 col-form-label">Apodo</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" formControlName="nickName">
      </div>

    </div>
    <div class="form-group row" formGroupName="team">
      <label for="city" class="col-sm-1 col-form-label">Ciudad</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" formControlName="city">
      </div>
      <label for="country" class="col-sm-1 col-form-label">País</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" formControlName="country">
      </div>
    </div>
  </form>

</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-primary" (click)="onSubmit()">Enviar</button>
  <button type="button" class="btn btn-outline-dark" (click)="onClose()">Cerrar</button>
</div>
